*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table, td {
 width: 100%;
}
th, td{
    border: 1px solid black;
    width: 33%;
}
td{
    text-decoration-color: whitesmoke;
}
li{
    width: 100%;
}
#meni{
    padding-top: 50px;
    padding-left: 15px;
    grid-area: meni;
    background: #ff9999;
    width: 100%;
}
#studenti{
    display: inline-grid;
    grid-area: studenti;
    background: #ffcccc;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-auto-flow: rows;
}
#grupe{
    padding: 5px;
    grid-area: grupe;
    background: #ffc2c2;
}

ul li{
    list-style: none;
    width: 100%;
}

.columns{
    margin: 20px;
    padding: 5px;  
}
div.columns{
    background-color: whitesmoke;
}
@media only screen and (min-width: 800px){
    .container{
        display: grid;
        grid-gap: 5px;
        height: 100vh;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 0.28fr 2fr;
        grid-template-areas: 
        "meni meni"
        "studenti grupe";
    }
    a{
        padding: 5px;
    }

}
@media only screen and (min-width: 500px) and (max-width: 800px){
    .container{
        display: grid;
        height: 100vh;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.8fr 1fr;
        grid-template-areas: 
        "meni"
        "grupe"
        "studenti";
    }
    a{
        padding: 3px;
    }

}
@media only screen and (max-width: 500px){
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 0.4fr 1fr;
        grid-template-areas: 
        "meni"
        "grupe"
        "studenti";
    }
    #vjezbelnk{
        width: 100%;
    }
    #meni{
        padding-top: 50px;
        padding-left: 5px;
        grid-area: meni;
        background: #ff9999;
        width: 100%;
    }
    ul{
        text-align: center;
        width: 100%;
    }
    ul li{
        width: 100%;
    }
    li{
        display: inline-block;
        width: 100%;
    }
    li a{
        display: block;
    }
    a{
        padding: 5px;
    }
    .priority-2{
        display: none;
    }
    .priority-3{
        display: none;
    }
}