*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ff9999 ;
	text-align: center;
}

.btn{
	border-color: white;
}
#url{
	grid-area: url;
	border-color: white;
}
#acYear{
	grid-area: akYear;
	border-color: white;
}
#branch{
	grid-area: branch;
	border-color: white;
}
#send{
	grid-area: send;
	border-color: white;
}
#l1{
	grid-area: l1;
}
#l2{
	grid-area: l2;
}
#l3{
	grid-area: l3;
}
#l4{
	grid-area: l4;
}
.container{
	display: grid;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas: 
	"l1 url"
	"l2 akYear"
	"l3 branch"
	"l4 send";
}
@media only screen and (min-width: 800px){
	form{
		display: inline-block;
		background-color: #ffcccc;
		margin: 150px;
		padding: 20px;
		width: 50vh;
	}
	
}
@media only screen and (max-width: 800px){
	form{
		display: inline-block;
		background-color: #ffcccc;
		margin: 50px;
		padding: 20px;
		width: 50vh;
	}
}