*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ff9999 ;
	text-align: center;
}

#posalji{
	border-color: white;
    	width: 175px;
	height: 20px;
}

form{
    
    	display: inline-block;
    	background-color: #ffcccc;
    	margin: 150px;
    	padding: 20px;
    	width: 50vh;
}
#studenti{
	width: 50vh;
	height: 40vh;
}