*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
table, th, td {
 width: 100%;
 height: 100%;
}
ul li{
    list-style: none;
}
li a{
    padding: 10px;
}

.btn{
     width: 100%;
     height: auto;
     margin: 5px;
     
}
.btn2{
    
    margin-left:5px;
    font-size: 12px;
}
.container-inner{
    display:grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "zadaci";
}
img{
    width: 100%;
}
.graf{
    grid-area: graf;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#zadaci{
    background-color: #f499ab;
    grid-area: zadaci;
    padding: 5px;
    margin-left: 10px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,auto));
    grid-auto-flow: rows;
}
#meni{
    padding-top: 20px;
    padding-left: 30px;
    grid-area: meni;
    background: #ff9999;
}
#odabirVjezbe{
    grid-area: odabirVjezbe;
    background: #ffcccc;
    padding: 15px;
    padding-right: 25px;
}
@media only screen and (min-width: 800px){
    .container{
	
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 2fr;
        grid-template-areas: 
        "meni meni meni"
        "odabirVjezbe graf graf"
        "odabirVjezbe graf graf";
    }
}
@media only screen and (max-width: 800px){
    .container{
	
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "meni"
        "odabirVjezbe"
        "graf"
        "graf"
        "graf"
        "graf";
    }
    ul{
        text-align: center;
    }
    li{
        display: inline-block;
    }
    li a{
        display: block;
    }
}