*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ff9999 ;
	text-align: center;
	align-content: center;
	display: flex;
}
.label{
	padding: 5px;
	position:relative;
	text-align: center;
  	width:100%;
}
.select{
	padding: 10px;
}
.btn{
	border-color: white;
	padding: 5px;
}
#odabirVjezbe{
	
	border-color: white;
}
#odabirZadatka{
	
	border-color: white;
}
#odabirVerzije{
	
	border-color: white;
}
#send{
	
	border-color: white;
}
#komentar{
	border-color: white;
}
.container{
	width: auto;
	margin: auto;
}
@media only screen and (min-width: 800px){
	
	form{
		background-color: #ffcccc;
		margin: 150px;
		padding: 20px;
		width: 50vh;
	}
}
@media only screen and (max-width: 800px){
	
	form{
		background-color: #ffcccc;
		margin: 50px;
		padding: 20px;
		width: 50vh;
	}
}

